In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\Indian Startup.csv')

In [3]:
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks","$100,000",Pre-series A1,Jan-2021
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,"$500,000",NaN,Jan-2021
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital","$70,000,000",NaN,Jan-2021
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,"$720,000",Pre-seed,Jan-2021
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool","$3,000,000",Pre-series A,Jan-2021

### basic structure of data.....

In [4]:
df.info

<bound method DataFrame.info of          Company/Brand  Founded Headquarters  \
0         CollegeDekho   2015.0      Gurgaon
1                 BOX8   2012.0       Mumbai
2                Simpl   2015.0    Bangalore
3          8i Ventures   2018.0       Mumbai
4            PayGlocal   2021.0    Bangalore
...                ...      ...          ...
1204          HobSpace   2019.0       Mumbai
1205           DcodeAI   2020.0    New Delhi
1206  Biocon Biologics   1978.0    Bangalore
1207        KiranaKart   2020.0       Mumbai
1208             Meddo   2018.0      Gurgaon

                                Sector  \
0                           E-learning
1                     Food & Beverages
2                    Consumer Services
3     Venture Capital & Private Equity
4                   Financial Services
...                                ...
1204                            EdTech
1205                            EdTech
1206                     BioTechnology
1207                        E-commerce
1208                        Healthcare

                                           What it does  \
0     Collegedekho.com is Student’s Partner, Friend ...
1                      India's Largest Desi Meals Brand
2     Simpl empowers merchants to build trusted rela...
3     8i is a Mumbai & Bangalore based early stage f...
4     PayGlocal is a FinTech solving for global paym...
...                                                 ...
1204  HobSpace is a platform for extra-curricular ac...
1205       EMPOWER LEARNERS TO BE FUTURE READY USING AI
1206  Biocon is a fully integrated pure play biosimi...
1207  A better model for instant grocery delivery in...
1208   Meddo is an end-to-end medical services provider

                                           Founder/s  \
0                                       Ruchir Arora
1                             Anshul Gupta, Amit Raj
2                           Nitya, Chaitra Chidanand
3                                     Vikram Chachra
4     Prachi Dharani, Rohit Sukhija, Yogesh Lokhande
...                                              ...
1204                    Priya Goel Sheth, Harsh Jain
1205                  Kartik Sharma, Ashish Aggarwal
1206                             Kiran Mazumdar-Shaw
1207                   Kaivalya Vohra, Aadit Palicha
1208                                 Saurabh Kochhar

                            Investor/s       Amount          Stage     Date
0                     Disrupt ADQ, QIC  $35,000,000       Series B  Dec-2021
1                         Tiger Global  $40,000,000            NaN  Dec-2021
2          Valar Ventures, IA Ventures  $40,000,000       Series B  Dec-2021
3                                  NaN  $50,000,000            NaN  Dec-2021
4                Sequoia Capital India   $4,900,000       Series A  Dec-2021
...                                ...          ...            ...       ...
1204  Siddharth Bhaskar Shah, Upsparks     $100,000  Pre-series A1  Jan-2021
1205                           S Chand     $500,000            NaN  Jan-2021
1206       Goldman Sachs, Tata Capital  $70,000,000            NaN  Jan-2021
1207           Global Founders Capital     $720,000       Pre-seed  Jan-2021
1208  growX ventures, Venture Gurukool   $3,000,000   Pre-series A  Jan-2021

[1209 rows x 10 columns]>

### information of data.....

In [5]:
df.describe()

           Founded
count  1208.000000
mean   2016.655629
std       4.517364
min    1963.000000
25%    2015.000000
50%    2018.000000
75%    2020.000000
max    2021.000000

### some description..... but it is not useful to us because this data is not have numerical values

In [6]:
df.corr()

         Founded
Founded      1.0

#### correlation between data....  it has nothing correlation in between data....

In [7]:
df.sample(15)

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
928,LearnVern,2016.0,Ahmadabad,EdTech,LearnVern.com is a training portal where anyon...,"Niral Modi, Aditi Modi",NaN,"$1,000,000",NaN,Apr-2021
196,kWh Bikes,2020.0,Bangalore,Automotive,Building India’s strongest and smartest electr...,"Siddharth Janghu, Kartik Gupta, Anupriya","Let’s Venture, Better Capital","$2,000,000",Seed,Oct-2021
732,Capital Float,2013.0,Bangalore,FinTech,Capital Float is an online platform that provi...,"Gaurav Hinduja, Sashank Rishyasringa","Triodos Investment Management, SAIF Partners","$6,000,000",NaN,Jun-2021
1098,AutomataPi,2017.0,Powai,Automation,AutomataPi is a next generation cognitive busi...,"Devesh Rao, Manjeet Khopkar, Rahul Hattangdi",Indian Angel Network,"$400,000",Seed,Feb-2021
1039,Stylework,2017.0,Gurugram,Co-working,Stylework is an unconventional co-working spac...,Sparsh Khandelwal,Inflection Point Ventures,"$500,000",Pre-series A,Mar-2021
893,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,$Undisclosed,Pre-series A,Apr-2021
1119,YourPhysio,2020.0,Nagpur,HealthTech,YourPhysio is a healthcare company on a missio...,"Dr Sheetal Mundhada, Ashutosh Mundhada","Better Capital, Titan Capital","$350,000",Pre-seed,Feb-2021
424,bitsCrunch,2020.0,Chennai,Blockchain,A consulting firm focused mainly on Data Analy...,Saravanan Jaichandaran,"Covalent, Double Peak, GenBlock Capital, Ledge...","$700,000",Seed,Sep-2021
805,Slice,2016.0,Bangalore,FinTech,Slice is India's best credit card challenger t...,Rajan Bajaj,"Gunosy, Blume Ventures","$20,000,000",NaN,Jun-2021
330,PredictiVu,2020.0,Gurugram,Management Consulting,PredictiVu's AI-enabled dashboard integrated w...,NaN,Kunal Sarkar,"$1,500,000",Pre-seed,Sep-2021
818,Chargeup,2019.0,New Delhi,Renewable Energy,"""Battery as a Service"" for 3 wheeler & 2 wheelers","Varun Goenka, Akshay Kashyap",Mapmyindia,$Undisclosed,Pre-series A,Jun-2021
366,TravClan,2018.0,New Delhi,B2B Travel,A mission to solve a genuine problem faced by ...,"Arun Bagaria, Ashish Thapliyal",TheVentures,"$2,200,000",Pre-series A,Sep-2021
708,GalaxEye,2020.0,Chennai,SpaceTech,GalaxEye enables businesses to make better Dec...,"Denil Chawda, Kishan Thakkar, Pranit Mehta, Sa...",Speciale Invest,$Undisclosed,Pre-seed,Jun-2021
833,Reccy Adventures,2019.0,Gurugram,Sports startup,Reccy Adventures is an adventure sports startup.,"Amit Chowdhury, Siddhartha Chatterjee, Tapas Pal","Kallol Banerjee, Jaydeep Barman","$400,000",Seed,May-2021
771,Skillmatics,2016.0,Mumbai,EdTech,Skillmatics develops learning games for pre-sc...,Dhvanil Sheth,Sequoia Capital India,"$6,000,000",Series A,Jun-2021

### sample data in our whole data......

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   Headquarters   1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founder/s      1205 non-null   object
 6   Investor/s     1146 non-null   object
 7   Amount         1202 non-null   object
 8   Stage          781 non-null    object
 9   Date           1209 non-null   object
dtypes: float64(1), object(9)
memory usage: 94.6+ KB

### it is also information of our data

In [9]:
df.columns

Index(['Company/Brand', 'Founded', 'Headquarters', 'Sector', 'What it does',
       'Founder/s', 'Investor/s', 'Amount', 'Stage', 'Date '],
      dtype='object')

#### these are all the columns in our data

In [10]:
# loc & iloc
df.loc[df['Sector'] == 'EdTech']

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
186,BYJU'S,2011.0,Bangalore,EdTech,BYJU’S is India's largest ed-tech company and ...,"Byju Raveendran, Divya Gokulnath","Oxshott Capital Partners, XN Exponent, Edelweiss","$300,000,000",NaN,Oct-2021
192,Sunstone Eduversity,2011.0,Gurugram,EdTech,Sunstone Eduversity is a one-of-its-kind busin...,"Ashish Munjal, Piyush Nangru",WestBridge Capital,"$28,000,000",Series B,Oct-2021
254,Questt,2020.0,Gurugram,EdTech,Questt is a Free online homework app that lets...,"Akhil, Mohsin M, Rohit Pande",Celesta Capital,"$6,750,000",Series A,Oct-2021
372,EventBeep,2019.0,Pune,EdTech,An inclusive community where students are insp...,"Saurabh Mangrulkar, Rakhi Pal, Venkatesh Prasad","SucSEED Indovation Fund, Uincept, Palimala Ven...",$Undisclosed,NaN,Sep-2021
382,Tinkerly,2015.0,Jaipur,EdTech,A STEM learning online-offline solutions provi...,"O.P. Godara, Vivek Pathak, Kapil Arya, Sharad ...",Navneet Education,"$800,000",NaN,Sep-2021
...,...,...,...,...,...,...,...,...,...,...
1181,Pariksha,2015.0,Pune,EdTech,"Pariksha - The Sucess App, India's largest ver...","Deepak Choudhary, Karanvir Singh Shekhawat, Ut...","Venture Catalysts, 9Unicorns Accelerator Fund","$1,800,000",NaN,Jan-2021
1189,Practically,2018.0,Telangana,EdTech,"Making Learning personal, immersive and experi...",Subbarao Siddabattula,Siana Capital,"$4,000,000",Pre-series B,Jan-2021
1195,Kyt,2020.0,Bangalore,EdTech,"An online-first, global academy for extracurri...","Bhavik Rathod, Tripti Ahuja",Alpha Wave Incubation,"$5,000,000",Series A,Jan-2021
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks","$100,000",Pre-series A1,Jan-2021
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,"$500,000",NaN,Jan-2021

### it simply works for location.......

In [11]:
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks","$100,000",Pre-series A1,Jan-2021
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,"$500,000",NaN,Jan-2021
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital","$70,000,000",NaN,Jan-2021
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,"$720,000",Pre-seed,Jan-2021
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool","$3,000,000",Pre-series A,Jan-2021

In [12]:
df.loc[df['Sector'] == 'EdTech'][0:6]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
186,BYJU'S,2011.0,Bangalore,EdTech,BYJU’S is India's largest ed-tech company and ...,"Byju Raveendran, Divya Gokulnath","Oxshott Capital Partners, XN Exponent, Edelweiss","$300,000,000",NaN,Oct-2021
192,Sunstone Eduversity,2011.0,Gurugram,EdTech,Sunstone Eduversity is a one-of-its-kind busin...,"Ashish Munjal, Piyush Nangru",WestBridge Capital,"$28,000,000",Series B,Oct-2021
254,Questt,2020.0,Gurugram,EdTech,Questt is a Free online homework app that lets...,"Akhil, Mohsin M, Rohit Pande",Celesta Capital,"$6,750,000",Series A,Oct-2021
372,EventBeep,2019.0,Pune,EdTech,An inclusive community where students are insp...,"Saurabh Mangrulkar, Rakhi Pal, Venkatesh Prasad","SucSEED Indovation Fund, Uincept, Palimala Ven...",$Undisclosed,NaN,Sep-2021
382,Tinkerly,2015.0,Jaipur,EdTech,A STEM learning online-offline solutions provi...,"O.P. Godara, Vivek Pathak, Kapil Arya, Sharad ...",Navneet Education,"$800,000",NaN,Sep-2021
396,Genext Students,2013.0,Mumbai,EdTech,LIVE online classes with expert tutors for K-1...,"Ali Asgar Kagzi, Piyush Dhanuka",Navneet Education,$Undisclosed,NaN,Sep-2021

### by using loc we can check particular things.....

In [13]:
df.iloc

In [14]:
df.iloc[0:9]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC","$35,000,000",Series B,Dec-2021
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,"$40,000,000",NaN,Dec-2021
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures","$40,000,000",Series B,Dec-2021
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,"$50,000,000",NaN,Dec-2021
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,"$4,900,000",Series A,Dec-2021
5,Curefit,2016.0,Bangalore,"Health, Wellness & Fitness",Tata Digital-backed Curefit,"Mukesh Bansal, Ankit",Zomato,"$145,000,000",NaN,Dec-2021
6,Pocket FM,2018.0,Bangalore,OTT,Pocket FM lets users discover and enjoy the gr...,"Rohan, Nishanth Srinivas, Prateek Dixit","Lightspeed, Times Group, Tanglin Venture Partners","$22,000,000",Series B,Dec-2021
7,CHARGE+ZONE,2018.0,Vadodara,Automotive,CHARGE+ZONE is a tech-driven EV Charging infra...,Kartikey Hariyani,Venture Catalysts,"$10,000,000",NaN,Dec-2021
8,PlanetSpark,2017.0,Gurugram,Education Management,PlanetSpark is building the World Leader in Co...,"Maneesh Dhooper, Kunal Malik","Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...","$13,000,000",Series B,Dec-2021

In [15]:
df.iloc[0:9].count()

Company/Brand    9
Founded          9
Headquarters     9
Sector           9
What it does     9
Founder/s        9
Investor/s       8
Amount           9
Stage            5
Date             9
dtype: int64

### we can count null values in a specific range.....

In [16]:
df.iloc[0:].count()

Company/Brand    1209
Founded          1208
Headquarters     1208
Sector           1209
What it does     1209
Founder/s        1205
Investor/s       1146
Amount           1202
Stage             781
Date             1209
dtype: int64

### it is also a method to count null values....... because it told us how much values r available........

In [17]:
df.loc[df['Sector'] == 'EdTech'].iloc[4:9]

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date
382,Tinkerly,2015.0,Jaipur,EdTech,A STEM learning online-offline solutions provi...,"O.P. Godara, Vivek Pathak, Kapil Arya, Sharad ...",Navneet Education,"$800,000",NaN,Sep-2021
396,Genext Students,2013.0,Mumbai,EdTech,LIVE online classes with expert tutors for K-1...,"Ali Asgar Kagzi, Piyush Dhanuka",Navneet Education,$Undisclosed,NaN,Sep-2021
401,OckyPocky,2015.0,Gurugram,EdTech,OckyPocky is India's 1st interactive English l...,Amit Agrawal,"Sujeet Kumar, SucSEED Indovation Fund",$Undisclosed,Seed,Sep-2021
409,Codingal,2020.0,Bangalore,EdTech,Codingal is on a mission to inspire school kid...,"Vivek Prakash, Satyam Baranwal",NaN,"$1,200,000",Seed,Sep-2021
415,Habbit,2020.0,Bangalore,EdTech,Habbit is online learning community for anyone...,"Somnath Sandeep, Raghav Goyal",Ashok Goyal,"$320,000",Pre-seed,Sep-2021

### we analyse that loc & iloc can work at a same code......

## loc = location base search 
## iloc = index base location search....

In [19]:
# groupby....

df.groupby(by ='Headquarters').mean()

                        Founded
Headquarters
Ahmadabad           2016.500000
Ahmedabad           2016.000000
Ambernath           2016.000000
Andheri             2019.000000
Bangalore           2017.192488
...                         ...
The Nilgiris        2016.000000
Thiruvananthapuram  2016.000000
Trivandrum          2021.000000
Vadodara            2018.000000
West Bengal         2019.000000

[70 rows x 1 columns]

### mainly groupby works for numerical data and this place it consider founded a num value.......

In [20]:
df.groupby(by =['Headquarters','Sector']).mean()

                                    Founded
Headquarters       Sector
Ahmadabad          AR startup        2016.0
                   Aeorspace         2017.0
                   Consulting        2021.0
                   EdTech            2015.5
                   Rental            2014.0
...                                     ...
The Nilgiris       Biotechnology     2016.0
Thiruvananthapuram Human Resources   2016.0
Trivandrum         E-learning        2021.0
Vadodara           Automotive        2018.0
West Bengal        EdTech            2019.0

[579 rows x 1 columns]

In [22]:
df.groupby(by =['Headquarters','Sector']).mean().iloc[:15]

                                                Founded
Headquarters Sector
Ahmadabad    AR startup                          2016.0
             Aeorspace                           2017.0
             Consulting                          2021.0
             EdTech                              2015.5
             Rental                              2014.0
Ahmedabad    Computer Software                   2018.0
             Consumer Goods                      2014.5
             Cosmetics                           2019.0
             Hospital & Health Care              2016.0
             Housing Marketplace                 2017.0
             Information Technology & Services   2012.0
             Legaltech                           2015.0
             Media                               2018.0
             Software Startup                    2020.0
Ambernath    Consumer Goods                      2016.0

In [24]:
# find the sector which is located in gurgaon.....?

df[df['Headquarters'] == 'Gurgaon'].groupby(by = 'Sector').mean()

                   Founded
Sector
B2B Manufacturing   2020.0
E-learning          2015.0
EdTech              2019.0
FinTech             2018.0
Gaming              2018.0
Healthcare          2018.0
Hospitality         2012.0

In [25]:
df = pd.read_csv('D:\IPL Matches 2008-2020.csv')

In [26]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [27]:
df.corr()

                     id  neutral_venue  result_margin
id             1.000000      -0.292042      -0.010501
neutral_venue -0.292042       1.000000      -0.006445
result_margin -0.010501      -0.006445       1.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [29]:
df.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

In [30]:
df[df['city'] == 'Delhi'].groupby(by = 'player_of_match').mean()

                            id  neutral_venue  result_margin
player_of_match
A Mishra          8.459972e+05            0.0       7.800000
A Symonds         4.191600e+05            0.0      11.000000
AB de Villiers    1.136605e+06            0.0       5.000000
AM Rahane         9.809650e+05            0.0       7.000000
AR Patel          7.340190e+05            0.0       4.000000
AS Rajpoot        1.136582e+06            0.0       4.000000
BJ Hodge          5.980710e+05            0.0       4.000000
CH Gayle          5.483720e+05            0.0      21.000000
CH Morris         9.809450e+05            0.0       1.000000
CJ Anderson       1.082605e+06            0.0      51.000000
CR Brathwaite     9.809510e+05            0.0      27.000000
DA Warner         6.337903e+05            0.0      24.333333
DJ Hooda          8.297150e+05            0.0       3.000000
DPMD Jayawardene  3.360220e+05            0.0       6.000000
DR Smith          7.339810e+05            0.0       8.000000
DW Steyn          7.339930e+05            0.0       8.000000
G Gambhir         7.339850e+05            0.0       8.000000
GD McGrath        3.359980e+05            0.0      10.000000
HH Pandya         1.178409e+06            0.0      40.000000
HV Patel          1.109629e+06            0.0      22.000000
Harmeet Singh     5.980590e+05            0.0       5.000000
JD Unadkat        5.980540e+05            0.0       4.000000
JH Kallis         5.483570e+05            0.0       6.000000
JM Bairstow       1.175371e+06            0.0       5.000000
KD Karthik        3.775830e+05            0.0      36.000000
KK Nair           9.083085e+05            0.0       7.000000
KP Pietersen      5.483210e+05            0.0       5.000000
LMP Simmons       1.082635e+06            0.0     146.000000
M Morkel          5.483160e+05            0.0       8.000000
MC Henriques      9.810150e+05            0.0      22.000000
MEK Hussey        5.980450e+05            0.0      67.000000
MF Maharoof       3.359840e+05            0.0       9.000000
MK Tiwary         5.012300e+05            0.0      17.000000
ML Hayden         4.191160e+05            0.0       5.000000
MS Dhoni          3.360090e+05            0.0       4.000000
Mohammed Shami    1.082630e+06            0.0       6.000000
NM Coulter-Nile   9.561875e+05            0.0       6.500000
P Parameswaran    5.012380e+05            0.0       7.000000
PD Collingwood    4.191400e+05            0.0      37.000000
PP Chawla         4.191490e+05            0.0       7.000000
PP Shaw           1.175365e+06            0.0            NaN
R Dravid          5.980010e+05            0.0       5.000000
RR Pant           1.109612e+06            0.0       5.500000
S Dhawan          1.157512e+06            0.0      12.500000
S Sohal           5.012160e+05            0.0      16.000000
SC Ganguly        5.483330e+05            0.0      20.000000
SL Malinga        5.012010e+05            0.0       8.000000
SR Tendulkar      4.191140e+05            0.0      98.000000
SR Watson         1.175360e+06            0.0       6.000000
SS Iyer           1.048248e+06            0.0      32.333333
SV Samson         9.809330e+05            0.0      10.000000
UT Yadav          6.890540e+05            0.0       5.500000
V Kohli           5.012270e+05            0.0       3.000000
V Sehwag          5.649037e+05            0.0      15.666667
VR Aaron          8.297570e+05            0.0      10.000000

In [31]:
df[df['city'] == 'Delhi'].groupby(by = 'player_of_match').median()

                         id  neutral_venue  result_margin
player_of_match
A Mishra           980913.0            0.0            8.0
A Symonds          419160.0            0.0           11.0
AB de Villiers    1136605.0            0.0            5.0
AM Rahane          980965.0            0.0            7.0
AR Patel           734019.0            0.0            4.0
AS Rajpoot        1136582.0            0.0            4.0
BJ Hodge           598071.0            0.0            4.0
CH Gayle           548372.0            0.0           21.0
CH Morris          980945.0            0.0            1.0
CJ Anderson       1082605.0            0.0           51.0
CR Brathwaite      980951.0            0.0           27.0
DA Warner          501223.0            0.0           29.0
DJ Hooda           829715.0            0.0            3.0
DPMD Jayawardene   336022.0            0.0            6.0
DR Smith           733981.0            0.0            8.0
DW Steyn           733993.0            0.0            8.0
G Gambhir          733985.0            0.0            8.0
GD McGrath         335998.0            0.0           10.0
HH Pandya         1178409.0            0.0           40.0
HV Patel          1109629.0            0.0           22.0
Harmeet Singh      598059.0            0.0            5.0
JD Unadkat         598054.0            0.0            4.0
JH Kallis          548357.0            0.0            6.0
JM Bairstow       1175371.0            0.0            5.0
KD Karthik         377583.0            0.0           36.0
KK Nair            908308.5            0.0            7.0
KP Pietersen       548321.0            0.0            5.0
LMP Simmons       1082635.0            0.0          146.0
M Morkel           548316.0            0.0            8.0
MC Henriques       981015.0            0.0           22.0
MEK Hussey         598045.0            0.0           67.0
MF Maharoof        335984.0            0.0            9.0
MK Tiwary          501230.0            0.0           17.0
ML Hayden          419116.0            0.0            5.0
MS Dhoni           336009.0            0.0            4.0
Mohammed Shami    1082630.0            0.0            6.0
NM Coulter-Nile    956187.5            0.0            6.5
P Parameswaran     501238.0            0.0            7.0
PD Collingwood     419140.0            0.0           37.0
PP Chawla          419149.0            0.0            7.0
PP Shaw           1175365.0            0.0            NaN
R Dravid           598001.0            0.0            5.0
RR Pant           1109612.0            0.0            5.5
S Dhawan          1157511.5            0.0           12.5
S Sohal            501216.0            0.0           16.0
SC Ganguly         548333.0            0.0           20.0
SL Malinga         501201.0            0.0            8.0
SR Tendulkar       419114.0            0.0           98.0
SR Watson         1175360.0            0.0            6.0
SS Iyer           1136586.0            0.0           37.0
SV Samson          980933.0            0.0           10.0
UT Yadav           689054.0            0.0            5.5
V Kohli            501227.0            0.0            3.0
V Sehwag           548345.0            0.0            9.0
VR Aaron           829757.0            0.0           10.0

In [32]:
df[df['city'] == 'Delhi'].groupby(by = 'toss_winner').median()

                                    id  neutral_venue  result_margin
toss_winner
Chennai Super Kings           598070.0            0.0           34.0
Deccan Chargers               460188.0            0.0           11.5
Delhi Capitals               1176888.5            0.0            6.0
Delhi Daredevils              548372.0            0.0            8.0
Kings XI Punjab               573214.0            0.0            5.0
Kochi Tuskers Kerala          501238.0            0.0            7.0
Kolkata Knight Riders         980983.0            0.0           24.5
Mumbai Indians                829747.0            0.0           37.0
Rajasthan Royals              781845.0            0.0            5.0
Rising Pune Supergiants       980965.0            0.0            7.0
Royal Challengers Bangalore   829757.0            0.0           10.0
Sunrisers Hyderabad           857505.0            0.0            4.5

In [33]:
df[df['city'] == 'Delhi'].groupby(by = 'toss_winner').mean()

                                       id  neutral_venue  result_margin
toss_winner
Chennai Super Kings          6.805384e+05            0.0          36.00
Deccan Chargers              4.511792e+05            0.0          11.00
Delhi Capitals               1.176890e+06            0.0           9.00
Delhi Daredevils             7.115962e+05            0.0          20.80
Kings XI Punjab              5.954175e+05            0.0          10.75
Kochi Tuskers Kerala         5.012380e+05            0.0           7.00
Kolkata Knight Riders        9.820728e+05            0.0          27.50
Mumbai Indians               8.270910e+05            0.0          26.60
Rajasthan Royals             8.021158e+05            0.0           5.50
Rising Pune Supergiants      9.809650e+05            0.0           7.00
Royal Challengers Bangalore  7.772466e+05            0.0           7.60
Sunrisers Hyderabad          8.721130e+05            0.0           5.25

## append

In [35]:
df['city'].append(pd.Series(['xyz']))

C:\Users\hp\AppData\Local\Temp\ipykernel_7916\3365602900.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df['city'].append(pd.Series(['xyz']))

0       Bangalore
1      Chandigarh
2           Delhi
3          Mumbai
4         Kolkata
          ...
812         Dubai
813     Abu Dhabi
814     Abu Dhabi
815         Dubai
0             xyz
Length: 817, dtype: object

In [38]:
df[['city','toss_winner']].append(pd.DataFrame(['xyz']))

C:\Users\hp\AppData\Local\Temp\ipykernel_7916\1095306480.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df[['city','toss_winner']].append(pd.DataFrame(['xyz']))

           city                  toss_winner    0
0     Bangalore  Royal Challengers Bangalore  NaN
1    Chandigarh          Chennai Super Kings  NaN
2         Delhi             Rajasthan Royals  NaN
3        Mumbai               Mumbai Indians  NaN
4       Kolkata              Deccan Chargers  NaN
..          ...                          ...  ...
812       Dubai               Delhi Capitals  NaN
813   Abu Dhabi          Sunrisers Hyderabad  NaN
814   Abu Dhabi               Delhi Capitals  NaN
815       Dubai               Delhi Capitals  NaN
0           NaN                          NaN  xyz

[817 rows x 3 columns]

In [40]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon